@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// Import custom variables and Bulma overides
@import "./variables.scss";

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";



  
  .userList-button {
    background-color: #fff !important;
  }
  
  .userList-button-in-meeting {
    background-color: #00947e !important;
  }

  .card {
    box-shadow: 0 0.5em 1em -0.125em rgba(0,0,0, 0.1), 0 0px 0 1px rgba(0,0,0, 0.02);
    border-radius: 18px;
    padding: 12px;
    margin: 18px 12px;
  }
  .card:hover {
    box-shadow: 0 0.5em 2em -0.125em rgba(0,0,0, 0.2);
  }