body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
}

h2 {
    font-weight: 700;
}

.header {
    color: #ffffff;
    display: grid;
    place-items: center;
    background-color: #00be4f;
    background-image: url("./images/money.png");
    background-repeat: repeat;
    background-size: 128px;
}

.title {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 40px;
    margin: 32px 0;
    text-shadow: 0px 4px 4px #2d2e3355;
}

.background-gradient, .title__link {
    width: 100%;
    height: 100%;
    background-color: #00be4f;
    background: linear-gradient(90deg, #00000000 0%, #00be4f 37.5%, #00be4f 62.5%, #00000000 100%);
    display: grid;
    place-items: center;
}

.landing__grid {
    display: flex;
    align-items: center;
    
}

.landing__image--boring {
    width: 58%;
    margin: 20px 0 0 28px;
    border-radius: 16px;
}

.landing__image--history {
    margin: 0 0 40px 0;
    width: 58%;
}

.landing__image--statistics {
    width: 50%;
    margin: 0 40px 40px 0;
}

.landing__ticker-example {
    width: 100%;
    margin: 0 60px 0 0;
}

a {
    text-decoration: none;
}

nav {
    max-width: 900px;
    width: 100%;
}

.nav__wrapper {
    background-color: #2d2e33;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px #2d2e3355;
}

.nav__wrapper--sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav__wrapper--sticky+.content__wrapper {
    padding-top: 46px;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    margin: 8px;
}

.nav-current {
    box-shadow: inset 0 -4px 0 0 #ffffff;
}

.nav-is-meeting {
    box-shadow: inset 0 -4px 0 0 #00be4f;
}

ul.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.nav__item {
    float: left;
}

li.nav__item a {
    display: block;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
}

li.nav__item:hover {
    background-color: #111;
}

.content__wrapper {
    margin: 20px 32px;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 900px;
    width: 100%;
}

input[type=text], input[type=password], input[type=number] {
    flex: 1 1;
    padding: 12px 20px;
    margin: 8px 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0px 4px 4px #2d2e3355;
}

input[type=submit], button {
    background-color: #00be4f;
    border-radius: 28px;
    border: none;
    padding: 12px 32px;
    margin: 16px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 4px 4px #2d2e3355;
}

.button--warning {
    background-color: #E08700;
    box-shadow: 0px 4px 4px #2d2e3355;
}

.button--error {
    background-color: #E0005E;
    box-shadow: 0px 4px 4px #2d2e3355;
}

.user {
    background-color: #ffffff;
    /* flex: 0 0 calc(25% - 60px); */
    border-radius: 16px;
    padding: 16px;
    margin: 16px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 4px 4px #2d2e3355;
}

.user--selected {
    background-color: #00be4f;
}

.user__username {
    color: #2d2e33;
    margin: 0;
}

.user__username--selected {
    color: #f2f2f2;
}

.user__first-last {
    color: #000000;
    margin: 0;
}

.user__first-last--selected {
    color: #ffffff;
}

.user__grid {
    display: flex;
}

.error {
    color: #c20071;
    font-weight: 700;
}

.link {
    color: #00be4f;
    font-weight: 700;
}

.columns {
    display: flex;
    margin: 0 -16px;
    align-items: center;
    flex-wrap: wrap;
}

.columns--center {
    justify-content: center;
}

.card {
    color: #000;
    background-color: #fff;
    box-shadow: 0px 4px 4px #2d2e3355;
    padding: 8px 24px;
    border-radius: 16px;
    margin: 12px;
    flex: 0 0 calc(calc(100% / 3) - 72px);
}

#log-out {
    float: right;
}

.dashboard__grid {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
}

.recent-history__buttons {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(100% / 3);
}

.history__grid>* {
    flex-grow: 1;
}

.history__grid--show-all {
    grid-column-start: 1;
    grid-column-end: 4;
}

.history__section {
    margin: 24px 0;
    padding-bottom: 32px;
}

.section {
    margin: 20px 0 60px 0;
}

.cost {
    font-size: 40px;
    color: #00be4f;
    font-weight: 700;
    margin: 20px 0;
}

.statistic {
    margin: 0 0 20px 0;
}

.statistic__text {
    font-size: 40px;
    color: #2d2e33;
    font-weight: 700;
    margin: 20px 0;
}

.ring__wrapper {
    display: flex;
    justify-content: center;
    margin: 24px 16px;
}

.ring__wrapper--statistic {
    flex: 0 0 calc(calc(100% / 3) - 32px);
}

.ring__wrapper--meeting {
    margin: 24px -16px;
}

.ring {
    background-color: #00be4f;
    padding: 12px;
    border-radius: 50%;
    max-width: 56vh;
    max-height: 56vh;
    flex-grow: 1;
    box-shadow: 0px 4px 4px #2d2e3355;
}

.ring--statistic {
    padding: 8px;
}

.ticker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    box-shadow: 0px 4px 4px #2d2e3355;
}

.ticker__meeting-name {
    font-size: 32px;
    color: #2d2e33;
    font-weight: 700;
    margin: 16px 56px;
}

.ticker__meeting-cost {
    font-size: 80px;
    color: #00be4f;
    font-weight: 800;
    margin: 0 20px;
}

.ticker__info-text {
    font-size: 16px;
    text-align: left;
    margin: 0 12px 0 0;
}

.ticker__info-wrapper {
    display: grid;
    place-items: center;
}

.ticker__icon {
    width: 36px;
    height: 36px;
    margin: 8px 12px;
}

.ticker__budget {
    font-size: 16px;
    padding: 8px;
    background-color: #e5e5e5;
    flex-grow: 0;
    margin: -8px 20% 16px 54%;
    border-radius: 12px;
}

.add {
    width: 75%;
    margin: 0 auto;
    background: url(./images/add.png);
    background-size: cover;
}

.add__wrapper {
    display: flex;
}

.center-text {
    text-align: center;
}

@media screen and (max-width: 760px) {
    .card {
        flex: 0 0 calc(50% - 72px);
    }
    .recent-history__buttons {
        flex: 0 0 50%;
    }
    .ring__wrapper--statistic {
        flex: 0 0 calc(50% - 48px);
        margin: 16px 24px;
    }
}

@media screen and (max-width: 600px) {
    .ticker__meeting-name {
        margin: 16px 72px;
    }
    
}

@media screen and (max-width: 512px) {
    .card {
        flex: 0 0 calc(100% - 72px);
    }
    .recent-history__buttons {
        flex: 0 0 100%;
    }
    .ring__wrapper--statistic {
        flex: 0 0 80%;
        margin: 24px 10%;
    }
    .chart {
        display: none;
    }
    .title {
        font-size: 7.8vw;
    }
    .columns--input {
        flex-direction: column;
        align-items: stretch;
    }
    .ticker__meeting-name {
        font-size: 24px;
        margin: 4px 64px;
    }
    .ticker__meeting-cost {
        font-size: 64px;
    }
    .ticker__budget {
    margin: -8px 12% 16px 54%;
    }
}

@media screen and (max-width: 412px) {
    .ticker__meeting-name {
        font-size: 20px;
        margin: 4px 64px;
    }
    .ticker__meeting-cost {
        font-size: 52px;
    }
    .ring--ticker {
        padding: 8px;
    }
    .ticker__icon {
        width: 28px;
        height: 28px;
        margin: 4px 12px;
    }
    .ticker__budget {
        padding: 4px;
    }

}